<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>
        <section id="dev" translate="label" sortOrder="910" showInDefault="1" showInWebsite="1" showInStore="0">
            <group id="yireo_logexcludes" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1">
                <label>Yireo LogExcludes</label>

                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1">
                    <label>Allow Excluding Patterns from Logs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="patterns" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <label>Exclude Patterns</label>
                </field>
            </group>
        </section>
    </system>
</config>
